body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
}

body {
  margin: 0;
  background-color: #FFF;
  overflow-x: hidden;
}

header nav{
  display: flex;
  justify-content: space-between;
}



header .block1{
  display: flex;
  justify-content: space-between;
  margin-left: 121px;

}

header .block2{
  display: flex;
  justify-content: space-between;
  margin-right: 121px;
}








header .article{
  padding-right: 121px;
  float: left;
  overflow: hidden;
}

button{
  text-decoration: none;
  margin-top: 30px;
}

.article-content {
    display: none;
    position: absolute;
    background-color: rgba(233, 239, 255, 0.8);;
    min-width: 160px;
    box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


button {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-decoration: none;
  background-color: white;
  border: 0px;
  text-transform: uppercase;
}

.article-content a {
    float: none;
    color: black;
    padding: 7px 10px;
    display: block;
    text-align: left;
    margin-top: 44px;
    border-bottom: 1px solid black;
    margin-left: 45px;
    margin-right: 74px;
    margin-bottom: 35px;
}

.article-content a:hover {

}

.article:hover .article-content {
    display: block;
    margin-left: -80px;
}

.next1{
  text-decoration: none;
}



header .game{
    padding-right: 99px;
}



header nav a{
  color: #000;
  font-family: 'Montserrat',normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  padding-top: 32px;
  padding-bottom: 22px;
  text-transform: uppercase;
}


header nav a:hover{
  font-size: 28px;
  text-decoration: underline;
  color: #000;
}


section.photo{
  height: 920px;
  background-color: #DFE8F9;
}

section.photo .text{
  margin-left: 420px;
  margin-right: 420px;
  padding: 10px 20px;
  background-color: white;
  text-align: center;
  position: relative;
  margin-top: -140px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 33px;
  text-align: center;
}

section.photo h1{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 65px;
line-height: 79px;

}



section.article h1{
  font-family: 'Montserrat',normal;
  font-weight: 400;
  font-size: 73px;
  line-height: 89px;
  margin-left: 179px;
  margin-top: 72px;

}

section.article div{
  color: black;
  margin-left: 100px;
  margin-right: 84px;
  margin-top: 75px;
}


section.article a{
  font-family: 'Montserrat',normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 73px;
  text-decoration: none;
  color: black;
}

section.article .content1{
    border-bottom: 1px solid black;
}

section.article h2{
  margin-bottom: 50px;
}

section.article img{
  margin-left: auto;
  display: block;
  margin-top: -70px;
}

section.article img:hover{
  text-align: right;
}

section.article .round{
  width: 39px;
  height: 39px;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  background: #C9DBFF;
  margin-top:-65px;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  padding-top: 3px;
}



.slider__item:last-child
{
	border-right:1px solid #000000;
}

.stat__count
{
	margin-bottom:10px;
	font-size:72px;
	font-weight:700;
	line-height:1;

}

.stat__text
{
	font-family: 'Montserrat',normal;
	font-style: normal;
	font-weight: 400;
	font-size: 27px;
	line-height: 33px;
	text-align: center;
	color: #000000;
}

#txt2
{

width: 288px;

}

#txt3
{
	width: 150px;
}


/*Statistics*/
section.statistics{
	background-color:#DFE8F9;
  margin-top:60px;
}

.stat{
	display:flex;
}

.stat__item{
	padding:70px 25px;
	flex:1 1 0;
	border-left:1px solid #000000;
	text-align:center;
	color:#fff;
}

.slider__item:last-child{
	border-right:1px solid #000000;
}

.stat__count{
	margin-bottom:10px;
	font-size:72px;
	font-weight:700;
	line-height:1;
}

.stat__text{

	font-family: 'Montserrat',normal;
	font-size: 27px;
	color: #000000;
	text-align:center;
}

#txt2{
	width:288px;
	margin-left:18%;
}

#txt3{
	width:245px;
	margin-left:22.5%;
}



/* слайдер */





input[type=radio] {
  display: none;
}

.card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}




.slaider {
  position: relative;
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 140px;
  margin-left: 380px;
}

.slider .slick-arrow{
    position: absolute;
    top: 50%; // выравнивание по вертикали
    margin: -15px 0 0 0; // корректировка  вертикального выравнивания
    z-index: 2; // стрелки сверху картинок
    font-size: 0; // убираем надпись на дефолтной стрелке
    width: 30px; // ширина стрелки
    height: 30px; // высота стрелки
  }

.cards {
  position: relative;
  width: 540px;
  height: 540px;
  margin-bottom: 20px;
}

.slaider .g {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 10px 10px 8px #ccc;
}

#item-1:checked ~ .cards #g-3, #item-2:checked ~ .cards #g-1, #item-3:checked ~ .cards #g-2 {
  transform: translatex(-130%) scale(.8);
  opacity: .5;
  z-index: 0;
}

#item-1:checked ~ .cards #g-2, #item-2:checked ~ .cards #g-3, #item-3:checked ~ .cards #g-1 {
  transform: translatex(130%) scale(.8);
  opacity: .6;
  z-index: 0;
}

#item-1:checked ~ .cards #g-1, #item-2:checked ~ .cards #g-2, #item-3:checked ~ .cards #g-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;

}


.cards h2{
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(78, 91, 134, 0.78);
}

.cards .next{
  position:absolute;
    height:50px;
    width:auto;
    top: 50%;
    margin-top: -10px;
    right:270px;
}

.next2{
  position: absolute;
    width: 50px;
    top: 50%;
    right: 26px;

}


section.game{
  height: 1408px;
  background-color: #FFF;
}

section.game h1{
  font-family: 'Montserrat',normal;
  font-weight: 400;
  font-size: 73px;
  line-height: 89px;
  margin-left: 179px;
  margin-top: 72px;
}

section.game .round{
  width: 39px;
  height: 39px;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  background: #C9DBFF;
  margin-top:-65px;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  padding-top: 3px;
  color: black;
  margin-left: 100px;
  margin-right: 84px;
}

section.game h2{
  font-family: 'Montserrat',normal;
  font-weight: 400;
  font-size: 73px;
  line-height: 89px;
  margin-left: 89px;
  margin-top: 72px;
}

section.game .screen{
  height: 497px;
  background-color:#C4C4C4;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

section.game p{
  font-family: 'Montserrat',normal;
  font-weight: 400;
  font-size: 73px;
  line-height: 89px;
  margin-left: 89px;
  margin-top: 72px;
}

section.game a{
  padding: 10px 160px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  color: #FFF;
  line-height: 78px;
  text-align: center;
  text-decoration: none;
  background-color: #4E5B86;
  margin: 32px auto 0 auto ;
  display: block;
  text-align: center;
  width: fit-content;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

section.game a:hover{
  background-color: grey;
}


footer {
  background-color: #FFF;
  position: relative;
}

footer > div {
  display: grid;
  grid-template-columns: 3fr 5fr 3fr;
  column-gap: 10px;

}

footer .block{
  padding: 50px;
  border-right: 1px solid;
}

footer .block2{
  padding-top: 50px;
}

footer p{
  text-align: center;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  font-family: 'Space Grotesk',normal;
  color: #000000;
  padding-bottom: 12px;
}

footer p.stage1{
   color: #6D6A6A;
   font-family: 'Playfair Display';
   font-style: normal;
   font-weight: 400;
   font-size: 30px;
   line-height: 40px;
}

section.form{
  margin-top: 50px;
  height: 628px;
  background: #E9EFFF;
    padding-top: 50px;
}


section.form .big-block{
  height: 463px;
  background-color: #FFF;
  margin-left: 126px;
  margin-right: 126px;
  margin-top: 13px;
  margin-bottom: 77px;
  text-align: right;
  padding-right: 30px;
}

section.form div{
  position: relative;
}

section.form label{
  padding-top: 57px;
}

section.form input{
  border: 0px;
  background: #E9EFFF;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top:30px;
  padding-bottom: 30px;
  padding-right: 110px;
  padding-left: 33px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: black;
  margin-top: 39px;
}

section.form a{
  padding: 10px 360px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 46px;
  color: #FFF;
  text-align: center;
  text-decoration: none;
  background-color: #4E5B86;
  margin: 32px auto 40px auto ;
  display: block;
  width: fit-content;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

section.form a:hover{
  background-color: grey;
}

section.form p{
  padding-left: 70px;
  padding-top: 60px;
  text-align: left;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 51px;
  color: #000000;
}

section.form .block-top{
  display: flex;
  justify-content: space-between;
}


footer img{
  padding-left: 30px;
  padding-right: 40px;
}

footer img .instagram{
  padding-left: 30px;
  padding-right: 40px;
}

@media (max-width:1200px) {

}

@media (max-width:992px){

}

@media (max-width:767px) {

#item-1:checked ~ .cards #g-3, #item-2:checked ~ .cards #g-1, #item-3:checked ~ .cards #g-2 {
  transform: translatex(-100%) scale(.8);
}

#item-1:checked ~ .cards #g-2, #item-2:checked ~ .cards #g-3, #item-3:checked ~ .cards #g-1 {
  transform: translatex(100%) scale(.8);
}

#item-1:checked ~ .cards #g-1, #item-2:checked ~ .cards #g-2, #item-3:checked ~ .cards #g-3 {
  transform: translatex(0) scale(1);
}


.article:hover .article-content {
  margin-left: -17px;
}

  .article11{
    font-size: 38px;
  }

  .article11:hover{
      font-size: 38px;
  }

  header nav .block1{
    margin-left: 15px;
  }

  header nav .block2{
    margin-left: 60px;
  }

  header nav a{
    font-size: 50px;
  }

  header nav a:hover{
    font-size: 50px;
  }

  header nav button{
    font-size: 50px;
  }

  section.photo img{
        width: 1228px;
  }
  main-text{
    width: 100%;
  }

  section.photo .text{
    width: 785px;
    margin-left: 196px;
    padding-top: 10px;
    padding-right: 23px;
    padding-left: 20px;
    background-color: white;
    position: relative;
    margin-top: -78px;
    font-family: 'Montserrat';
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }

  section.photo{
    padding-right: 1225px;
        height: 840px;
  }

  section.article{
        width: 1216px;
  }

  section.statistics {
    width: 1226px;
  }

  #txt3{
        margin-left: 12.5%;
  }
  #txt2{
    margin-left: 4%;
  }

  section.game{
        WIDTH: 1232PX;
  }

  section.form{
    width: 1231px;
  }

  section.form input{
    font-size: 20px;
  }

  section.form p{
    font-size: 30px;
  }

  section.form a{
        padding: 17px 239px;
  }
  FOOTER{
    WIDTH: 1232PX;

  }

  footer img{
    padding-left: 14px;
  padding-right: 36px;
  }
}
