/*Делаем фон*/
body
{
	margin:0;
	background-image: url(фон.png);
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: top;
}

/*Навигация*/
header{
	background-color: white;
}
header nav{
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.logotip{
  margin-left: 240px;
}

header .block1{
  display: flex;
  justify-content: space-between;
  margin-left: 121px;

}

header .block2{
  display: flex;
  justify-content: space-between;
  margin-right: 121px;
}


header .article{
  padding-right: 121px;
  float: left;
  overflow: hidden;
}

button{
  text-decoration: none;
  margin-top: 30px;
}

.article-content {
    display: none;
    position: absolute;
    background-color: rgba(233, 239, 255, 0.8);;
    min-width: 160px;
    box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


button {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-decoration: none;
  background-color: white;
  border: 0px;
  text-transform: uppercase;
}

.article-content a {
    float: none;
    color: black;
    padding: 7px 10px;
    display: block;
    text-align: left;
    margin-top: 44px;
    border-bottom: 1px solid black;
    margin-left: 45px;
    margin-right: 74px;
    margin-bottom: 35px;
}

.article-content a:hover {

}

.article:hover .article-content {
    display: block;
	margin-left:-80px;
}

.next1{
  text-decoration: none;
}



header .game{
    padding-right: 99px;
}



header nav a{
  color: #000;
  font-family: 'Montserrat',normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  padding-top: 32px;
  padding-bottom: 22px;
  text-transform: uppercase;
	text-decoration: none;
}


header nav a:hover{
  font-size: 28px;
	text-decoration: none;
  color: #000;
	text-decoration: underline;
}
 /*Тело*/
.main
{
	background:#ffffff;
	width:992px;
	height:7200px;
    margin: auto;
	border:3px solid #7D828B;
}

.text
{
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
	text-align: center;
	width: 547px;
	height: 113px;
	margin:auto;
	width: 607px;
	height: 122px;
	font-weight: 400;
	color: #969598;
	margin-top:34px;
}

.text2
{

	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin:auto;
	margin-top:27px;
	width: 882px;
	height: 154px;
	font-weight: 400;
	font-size: 25px;
	line-height: 30px;
	color: #000000;
}

.text_bef_3
{
	width: 651px;
	height: 45px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 37px;
	line-height: 45px;
	text-align: center;
	color: #52668F;
	margin:auto;
	margin-top:19px;
	text-transform:uppercase;
}

.text3
{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin-left:127px;
	margin-top:28px;
	width: 351px;
	height: 61px;
	font-weight: 400;
	font-size: 36px;
	line-height: 44px;
	text-align: center;
	color: #52668F;
}

.text4
{
	font-family: 'Montserrat', sans-serif;
	margin-left:40px;
	margin-top:21px;
	width: 917px;
	height: 212px;
	font-weight: 400;
	font-size: 30px;
	line-height: 37px;
	color: #000000;
}

.type
{
	width: 80px;
	height: 79.72px;
	margin:auto;
	margin-top:6px;
}

.after_type
{
	width: 916px;
	height: 126px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 30px;
	line-height: 37px;
	color: #000000;
	margin-left:33px;
	margin-top:28.28px;
}

.text_
{
	font-family: 'Montserrat', sans-serif;
	margin-left:143px;
	margin-top:20px;
	width: 299px;
	height: 38px;
	font-weight: 400;
	font-size: 36px;
	line-height: 44px;
	text-align: center;
	color: #52668F;
}

.text_2
{
	font-family: 'Montserrat', sans-serif;
	margin-left:40px;
	margin-top:40px;
	width: 917px;
	height: 267px;
	font-weight: 400;
	font-size: 30px;
	line-height: 37px;
	color: #000000;
}

.type_2
{
	width: 80px;
	height: 79.72px;
	margin:auto;
	margin-top:20px;
}

.arter_type_2
{
	width: 805px;
	height: 37px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 30px;
	line-height: 37px;
	color: #000000;
	margin-left:39px;
	margin-top:31.28px;
}

.text_3
{
	font-family: 'Montserrat', sans-serif;
	margin-left:144px;
	margin-top:51px;
	width: 360px;
	height: 41px;
	font-weight: 400;
	font-size: 36px;
	line-height: 44px;
	text-align: center;
	color: #52668F;
}

.text_4
{
	font-family: 'Montserrat', sans-serif;
	margin-left:40px;
	margin-top:40px;
	width: 917px;
	height: 205px;
	font-weight: 400;
	font-size: 30px;
	line-height: 37px;
	color: #000000;
}

.type_3
{
	width: 80px;
	height: 79.72px;
	margin:auto;
	margin-top:13px;
}

.arter_type_3
{
	width: 899px;
	height: 97px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 30px;
	line-height: 37px;
	color: #000000;
	margin-top:15px;
	margin-left:37px;
}

.text_bef_5
{
	width: 494px;
	height: 37px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 30px;
	line-height: 37px;
	text-align: center;
	color: #52668F;
	margin:auto;
	margin-top:30px;
	text-transform:uppercase;
}


.text_5
{
	font-family: 'Montserrat', sans-serif;
	margin-top:25px;
	margin-left:126px;
	width: 360px;
	height: 41px;
	font-weight: 400;
	font-size: 36px;
	line-height: 44px;
	text-align: center;
	color: #52668F;
}

.text_6
{
	font-family: 'Montserrat', sans-serif;
	margin-top:17px;
	margin-left:45px;
	width: 917px;
	height: 121px;
	font-weight: 400;
	font-size: 30px;
	line-height: 37px;
	color: #000000;
}

.text_aft_6
{
	width: 156px;
	height: 41px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 34px;
	line-height: 41px;
	text-align: center;
	color: #52668F;
	margin:auto;
	margin-top:10px;
}

.text_aft_6_1
{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	margin-top:19px;
	margin-left:64px;
	border: 15px solid #DFE8F9;
	padding-top:30px;
	padding-left:30px;
	width: 820px;
	height: 233px;
	font-size: 30px;
	line-height: 37px;
	color: #000000;
}
.text_aft_6_2
{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	margin:auto;
	margin-top:20px;
	width: 94px;
	height: 41px;
	font-size: 34px;
	line-height: 41px;
	text-align: center;
	color: #52668F;
}

.text_aft_6_3
{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	margin-top:18px;
	border: 15px solid #DFE8F9;
	padding-top:29px;
	padding-left:36px;
	width: 808px;
	height: 160px;
	font-size: 30px;
	line-height: 37px;
	color: #000000;
	margin-left:64px;
}

.exemples
{
	display:flex;
	justify-content:space-around;
	margin-top:48px;
}

#one
{
	width: 312px;
	height: 389px;
}

#two
{
	width: 225px;
	height: 394px;
}

.text_7
{
	font-family: 'Montserrat', sans-serif;
	margin-top:33px;
	margin-left:139px;
	width: 366px;
	height: 63px;
	font-weight: 400;
	font-size: 36px;
	line-height: 44px;
	text-align: center;
	color: #52668F;
}

.text_8
{
	font-family: 'Montserrat', sans-serif;
	margin-top:16px;
	margin:auto;
	width: 815px;
	height: 50px;
	font-weight: 400;
	font-size: 36px;
	line-height: 44px;
	color: #000000;
}

.text_aft_8
{
	width: 113px;
	height: 41px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 34px;
	line-height: 41px;
	text-align: center;
	color: #52668F;
	margin:auto;
	margin-top:12px;
}

.text_aft_8_1
{
	font-family: 'Montserrat', sans-serif;
	width: 733px;
	height: 286px;
	font-weight: 400;
	font-size: 30px;
	line-height: 37px;
	color: #000000;
	margin-top:28px;
	margin-left:100px;
	border: 15px solid #DFE8F9;
	padding-top:26px;
	padding-left:39px;
}
.text_aft_8_2
{
	font-family: 'Montserrat', sans-serif;
	margin-top:28px;
	margin-left:100px;
	width: 222px;
	height: 41px;
	font-weight: 400;
	font-size: 34px;
	line-height: 41px;
	text-align: center;
	color: #52668F;
	margin:auto;
	margin-top:32px;
}
.text_aft_8_3
{

	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	line-height: 37px;
	margin-top:33px;
	margin-left:103px;
	border: 15px solid #DFE8F9;
	padding-top:20px;
	padding-left:40px;
	width: 758px;
	height:275px;
	font-size: 30px;
	color: #000000;
}

.text_9
{
	font-family: 'Montserrat', sans-serif;
	margin:auto;
	margin-top:62px;
	width: 705px;
	height: 45px;
	font-weight: 600;
	font-size: 37px;
	line-height: 45px;
	text-align: center;
	color: #52668F;
	text-transform:uppercase;
}

.type_5
{
	width: 800px;
	height: 607.13px;
	margin:auto;
	margin-top:28px;
}

.text_9_1
{
	font-family: 'Montserrat', sans-serif;
	margin:auto;
	margin-top:44.87px;
	width: 218px;
	height: 41px;
	font-weight: 400;
	font-size: 34px;
	line-height: 41px;
	text-align: center;
	color: #52668F;
}

.text_10
{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	margin-top:19px;
	margin-left:96px;
	width: 851px;
	height: 296px;
	font-weight: 400;
	font-size: 30px;
	line-height: 37px;
	color: #000000;
}

.text_9_2
{
	font-family: 'Montserrat', sans-serif;
	margin:auto;
	margin-top:32px;
	font-weight: 400;
	width: 268px;
	height: 41px;
	font-weight: 400;
	font-size: 34px;
	line-height: 41px;
	text-align: center;
	color: #52668F;
}

.text_10_2
{
	font-family: 'Montserrat', sans-serif;
	margin-top:32px;
	margin-left:88px;
	width: 851px;
	height: 481px;
	font-weight: 400;
	font-size: 30px;
	line-height: 37px;
	color: #000000;
}

.text_9_3
{
	width: 233px;
	height: 41px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 34px;
	line-height: 41px;
	text-align: center;
	margin:auto;
	margin-top:39px;
	color: #52668F;
}

.text_10_3
{
	width: 851px;
	height: 518px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 30px;
	line-height: 37px;
	color: #000000;
	margin-left:88px;
	margin-top:33px;
}

.text_13
{
	width: 797px;
	height: 65px;
	font-family: 'Montserrat', sans-serif;
	font-size: 44px;
	line-height: 54px;
	color: #798BAE;
	margin:auto;
	margin-top:48px;
}

.button
{
	margin:auto;
	margin-top:55px;
	text-align:center;
}

.btm
{
	font-family: 'Montserrat', sans-serif;
	border:3px solid #DFE8F9;
	color:#000000;
	font-size: 44px;
	line-height: 54px;
	text-decoration:none;
	transition:background .1s linear, color .1s linear;
	width: 493px;
	height: 100px;
	padding:20px 68px;
}

.btm:hover
{
	background-color:#DFE8F9;
	color:#000000;
}

.type_8
{
	width: 95px;
	height: 95px;
	margin-left:687px;
	margin-top:-25px;
}

.type_8 {
	animation-name: 'anime';
		/* имя кейфрейма для анимации */
	animation-duration: 300ms;
		/* длительность анимации */
	animation-iteration-count: infinite;
		/* количество повторений, в данном случае - бесконечно */
	animation-direction: alternate;
		/* проигрывать анимацию в прямом и в обратном порядке */
	animation-timing-function: ease-in;
		/* вычисление временных промежутков для анимации, в данном случае анимация ускоряется */
}

@keyframes 'anime' {
	from {
		transform: scale(1) rotate(0deg);
	}
	to {
		transform: scale(1.1) rotate(0deg);
	}
}

.type_8 {
	-webkit-animation-name: 'anime';
	-webkit-animation-duration: 300ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in;
}
@-webkit-keyframes 'anime' {
	from {
		-webkit-transform: scale(1) ;
	}
	to {
		-webkit-transform: scale(1.1) ;
	}
}

/*Подвал*/
.footer
{
	background: #FFFFFF;
	height: 207px;
}

.text__line1
{
	display:flex;
	align-items:center;
	justify-content:space-evenly;

	padding-top:44px;
	color: #6D6A6A;
	font-size:  30px;
}

.text__line2
{
	display:flex;
	align-items:center;
	justify-content:space-evenly;

	color: #000000;
	margin-top:19px;
	font-size: 36px;
}

.text_el {
	width:  30vw;
	text-align: center;
	display:flex;
	align-items:center;
	justify-content:center;
}

#pic2
{
	margin:0 35.27px 0 35.27px;
}

#underline
{
	text-decoration:underline;
}
